<!DOCTYPE Configuration>
<Configuration>
  <Macro>
    <DataPath/>
  </Macro>
  <Sensor_stm32comm>
    <Simulator>
      <stm32comm>
        <path>
          <Default/>
        </path>
        <filename>
          <Default/>
        </filename>
      </stm32comm>
    </Simulator>
    <VisualizationMono>
      <stm32comm_viewer>
        <mapsize>
          <Default>500</Default>
        </mapsize>
        <pixelsize>
          <Default>1</Default>
        </pixelsize>
        <showheight>
          <Default>350</Default>
        </showheight>
      </stm32comm_viewer>
    </VisualizationMono>
  </Sensor_stm32comm>
  <Sensor_Laser>
    <Simulator>
      <laser>
        <path>
          <Default>#(DataPath)</Default>
        </path>
        <filename>
          <Default>urg.lms</Default>
        </filename>
        <first_step>
          <Default>-360</Default>
        </first_step>
        <last_step>
          <Default>360</Default>
        </last_step>
        <skip_step>
          <Default>2</Default>
        </skip_step>
        <nearfilter>
          <Default>0</Default>
        </nearfilter>
        <farfilter>
          <Default>5000</Default>
        </farfilter>
      </laser>
    </Simulator>
    <VisualizationMono>
      <laser_viewer>
        <range>
          <Default>2500</Default>
        </range>
        <interval>
          <Default>500</Default>
        </interval>
        <imageradius>
          <Default>400</Default>
        </imageradius>
        <frontonly>
          <Default>1</Default>
        </frontonly>
        <laserbeam>
          <Default>1</Default>
        </laserbeam>
        <calib_width>
          <Default>55</Default>
        </calib_width>
        <calib_height>
          <Default>60</Default>
        </calib_height>
      </laser_viewer>
    </VisualizationMono>
  </Sensor_Laser>
</Configuration>
